alembic==1.7.3
argon2-cffi==21.1.0
asgiref==3.4.1
black==21.9b0
boto3==1.18.47
botocore==1.21.47
-e git+ssh://git@github.com/bugout-dev/brood.git@a1bb1ab20f14540c16e2c26bded36b1b23699004#egg=brood
bugout==0.1.18
bugout-locust==0.2.8
certifi==2021.5.30
cffi==1.14.6
charset-normalizer==2.0.6
click==8.0.1
cryptography==3.4.8
elasticsearch==7.15.0
fastapi==0.68.1
greenlet==1.1.1
h11==0.12.0
idna==3.2
importlib-resources==5.2.2
jmespath==0.10.0
jwt==1.2.0
lxml==4.6.3
Mako==1.1.5
MarkupSafe==2.0.1
mypy==0.910
mypy-extensions==0.4.3
passlib==1.7.4
pathspec==0.9.0
platformdirs==2.3.0
protobuf==3.18.0
psycopg2-binary==2.9.1
pycparser==2.20
pydantic==1.8.2
pygit2==1.6.1
python-dateutil==2.8.2
python-http-client==3.3.3
python-multipart==0.0.5
PyYAML==5.4.1
regex==2021.8.28
requests==2.26.0
s3transfer==0.5.0
sendgrid==6.8.2
six==1.16.0
SQLAlchemy==1.4.25
starkbank-ecdsa==1.1.1
starlette==0.14.2
stripe==2.60.0
toml==0.10.2
tomli==1.2.1
typing-extensions==3.10.0.2
urllib3==1.26.7
uvicorn==0.15.0
zipp==3.5.0
