[Unit]
Description=Refreshes tokens used by Spire GitHub
After=network.target

[Service]
Type=oneshot
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/app
EnvironmentFile=/home/ubuntu/secrets/app.env
ExecStart=/home/ubuntu/server-env/bin/python -m spire.github.cli installations update
