[Unit]
Description=Synchronize Humbug restricted tokens with Brood
After=network.target

[Service]
Type=oneshot
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/spire
EnvironmentFile=/home/ubuntu/spire-secrets/app.env
ExecStart=/home/ubuntu/spire-env/bin/python -m spire.humbug.cli tokens synchronize